body{
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskslist{

  background-color: aqua;
  align-items: center;
  justify-content: center;
}
.delete{
  background-color: azure;
}
